{% extends 'base.html' %}

{% block content %}
  <h2>Вход</h2>
  <form id="login-form" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Имя пользователя">
    <input type="password" name="password" placeholder="Пароль">
    <button type="submit">Войти</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#login-form').submit(function(e) {
        e.preventDefault();

        $.ajax({
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: $(this).serialize(),
          success: function(response) {
            window.location.href = "/home/";  // Перенаправление на домашнюю страницу
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    });
  </script>
{% endblock %}